<%- include('../shared/header'); -%>
<body>
    <ul>
        <li>Name: <%= data[0].name %></li>
        <li>Surname: <%= data[0].surname %></li>
        <li>Age: <%= data[0].age %></li>
        <li>Gender: <%= data[0].gender %></li>
    </ul>
    <a href="/">back</a>
</body>
</html>